body {
  margin: 0;
  height: 100%;
  position: relative;
}

h1, h2, h3, h4, h5 {
  font-family: 'Cinzel';
}

a {
  text-decoration: none;
  color: #373939;
}

section {
  box-sizing: border-box;
  padding: 50px;
}

section::after {
  content: '';
  display: table;
  clear: both;
}

p {
  font-family: 'OpenSans-Light';
  font-size: 20px;
  color: #373939;
  font-weight: 100;
}

hr {
  width: 80%;
  margin: 0 auto;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  box-shadow: 0 0 15px rgba(0,0,0,0.5);
}

.img-responsive {
  max-width: 100%;
  display: block;
}

.col-3, .col-4, .col-5, .col-6, .col-7, .col-8 {
  float: left;
  padding: 0 15px;
  box-sizing: border-box;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.3333%
}

.col-5 {
  width: 41.6666%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33333%;
}

.col-8 {
  width: 66.66%;
}

.offset-1 {
  margin-left: 8.33%;
}

.offset-2 {
  margin-left: 16.66%;
}

.offset-3 {
  margin-left: 25%;
}


.row-6 {
  height: 50%;
  width: 100%;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.title {
  font-family: 'Cinzel';
  font-size: 36px;
  color: #373939;
  line-height: 50px;
  text-align: center;
  border-bottom: 1px solid #373939;
  margin-top: 0;
}

.text-center {
  text-align: center;
}

.splash {
  min-height: 100vh;
  width: 100%;
  text-align: center;
  padding-top: 100px;
  box-shadow: 0 0 15px rgba(0,0,0,0.5);
}

.splash h1 {
  font-size: 48px;
  color: #FFFFFF;
  line-height: 50px;
  font-weight: 100;
  margin-bottom: 100px;
}

.splash p {
  color: #fff;
  font-weight: 100;
  line-height: 40px;
  margin: 20px 0;
}

@media screen and (max-width: 938px ) {
  .col-3, .col-4, .col-5, .col-6, .col-7, .col-8 {
    width: 100%;
  }

  .offset-2, .offset-1 {
    margin: 0;
  }
  .col-sm-6 {
    width: 50%;
    float: left;
  }
}

@media screen and (max-width: 550px ) {
  .col-sm-6 {
    width: 100%;
  }
}
/* ================================== Nav Styles ================================== */
nav {
  font-family: Cinzel-Regular;
  font-size: 18px;
  color: #373939;
  height: 140px;
  position: relative;
  box-shadow: 0px 3px 5px rgba(0,0,0,0.3);
  z-index: 999;
  background-color: #fff;
}

nav .logo {
  display: inline-block;
  width: 120px;
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
}

nav ul {
  display: inline-block;
  padding: 0;
  list-style: none;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

nav ul li {
  display: inline-block;
  padding: 10px;
  transition: all .3s ease;
}

nav li:hover {
  color: #97F9FC;
}

nav li.active {
  color: #97F9FC;
}

nav .navicon {
  position: absolute;
  right: 30px;
  top: 60%;
  transform: translateY(-50%);
  display: none;
  transition: all .4s ease;
}

nav .navicon:hover, #close:hover {
  color: #97F9FC;
  cursor: pointer;
}

nav .mobile-nav {
  position: fixed;
  height: 100%;
  width: 60%;
  left: -100%;
  top: 0;
  background-color: #fff;
  transform: translateY(0);
  margin-top: 0;
  display: none;
  z-index: 998;
  transition: all .4s ease;
  padding-top: 50px;
}

.mobile-nav li {
  display: block;
  margin: 20px auto;
  text-align: center;
}

.mobile-nav i {
  position: absolute;
  right: 10px;
  top: 10px;
}

.nav-overlay {
  width: 100%;
  height: 100%;
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 997;
  background-color: rgba(55,55,55,0.3)
}

.phone {
  position: absolute;
  top: -5px;
  right: 20px;
  transition: all .3s ease;
}

.phone p {
  font-family: Cinzel-Regular;
  transition: all .3s ease;
  display: inline-block;
  font-size: 26px;
}

.phone i {
  font-size: 26px;
  transition: all .3s ease;
}

.phone:hover p, .phone:hover i{
  color: #97F9FC;
}
@media screen and (max-width: 938px ) {
  nav ul {
    display: none;
  }

  nav .mobile-nav {
    display: block;
  }

  nav .navicon {
    display: block;
  }
}
/* ================================== Splash Styles ================================== */
#splash {
  height: 100vh;
  width: 100%;
  position: relative;
  padding: 0;
  box-shadow: 0 0 15px rgba(0,0,0,0.5);
}

#splash .bg {
  height: 100%;
  width: 100%;
  position: absolute;
  background: url('http://www.rd.com/wp-content/uploads/sites/2/2016/11/06-statement-subtle-ways-sparkle-new-years-outfit-95079359-SanneBerg-1024x683.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

#splash h1 {
  font-family: 'Cinzel';
  font-size: 36px;
  color: #373939;
  line-height: 50px;
  position: absolute;
  margin: 0;
  top: 20%;
  left: 20%;
  text-align: center;
  transform: translateX(-50%);
}

#splash .call {
  background: #475564;
  font-family: 'Cinzel';
  color: #FFFFFF;
  line-height: 65px;
  width: 250px;
  text-align: center;
  position: absolute;
  border: 1px solid #ccc;
  left: 20%;
  top: 60%;
  transform: translateX(-50%);
  transition: all .4s ease;
}

#splash .call:hover {
  background-color: #26313d;
  border-color: #26313d;
}

#splash h3 {
  font-size: 24px;
  margin: 0;
  font-weight: 100;
}

@media screen and (max-width: 800px) {
  #splash .bg {
    background-position: right;
    background-size: cover;
    filter: brightness(70%);
  }

  #splash h1 {
    left: 50%;
    color: #fff;
    transform: translateX(-50%);
  }

  #splash .call {
    left: 50%;
    transform: translateX(-50%);
  }
}
/* ================================== Engagement Styles ================================== */
.featured-product {
  padding: 50px;
  min-height: 100vh;
  box-sizing: border-box;
}

.featured-product img {
  margin: 0 auto;
  height: 500px;
}

.featured-product h2 {
  font-family: 'Cinzel';
  font-size: 26px;
  color: #373939;
  line-height: 25px;
  text-decoration: none;
  text-decoration: underline;
  display: inline-block;
  margin-top: 100px;
  text-align: center;
}

.featured-product a {
  display: block;
  text-align: center;
}
/* ================================== Shop Styles ================================== */
.shop {
  width: 100%;
  min-height: 100vh;
  position: relative;
  box-shadow: 0 0 15px rgba(0,0,0,0.5);
}

.shop .bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.shop .content {
  position: relative;
  left: 5%;
}

.shop h2 {
  font-family: 'Cinzel';
  font-size: 36px;
  color: #97F9FC;
  margin-bottom: 100px;
}

.shop p {
  color: #FFFFFF;
  margin-bottom: 100px;
  max-width: 500px;
  line-height: 32px;
}

.shop h3 {
  font-family: 'Cinzel';
  font-size: 24px;
  color: #ECD282;
  line-height: 25px;
  font-weight: 100;
  text-decoration: underline;
  transition: all .4s ease;
}

.shop h3:hover {
  color: #962D4B;
}

#shop-vintage .bg {
  background: url('img/Rectangle 1.png');
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  filter: brightness(80%);
}

#shop-gold .bg {
  background: url('img/gold.jpg');
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  filter: brightness(50%);
}

@media screen and (max-width: 550px) {
  #shop-vintage .bg {
    background-position: center;
  }
  #shop-gold .bg {
    background-position: right;
    background-size: cover;
  }
}
/* ================================== GIA Styles ================================== */
#gia {
  padding: 50px;
  width: 100%;
}

/* ================================== Jewelry page Styles ================================== */
#ecommerce {
  min-height: 100vh;
}

#ecommerce iframe {
  height: 100vh;
}

#ecommerce img {
  display: block;
  margin: 0 auto;
  width: 100%;
}

#ecommerce h1 {
  font-size: 48px;
  line-height: 50px;
  margin-top: 0
}

/* ================================== Gem Info Page Styles ================================== */
#gem-info img {
  display: block;
  margin: 0 auto;
}

#color img, #clarity img {
  display: block;
  width: 100%;
}

#color img.scale, #clarity img.scale {
  width: 100%;
  max-width: 636px;
  margin: 0 auto;
  padding-top: 20px;
}

@media screen and (max-width: 683px) {
  #color img.scale {
    display: none;
  }
}
/* ================================== Love Stories Styles ================================== */
#love-stories .love-story h1 {
  font-size: 36px;
  color: #475564;
  text-align: center;
}

#love-stories .love-story p {
  font-size: 18px;
  color: #373939;
  line-height: 26px;
}

#love-stories img {
  width: 100%;
  height: 100%;
  display: block;
}

#love-stories section {
  min-height: 100vh;
}

#love-stories .splash {
  background: url('img/Rectangle.png');
  background-size: cover;
  text-align: center;
  box-shadow: 0 0 15px rgba(0,0,0,0.5);
}

#love-stories .col-5, #love-stories .col-7 {
  padding: 0;
  height: 500px;
}

#love-stories .img {
  margin: 40px 0;
  box-shadow: 0 0 15px rgba(0,0,0,0.5);
}
#love-stories .img::after {
  content: '';
  display: table;
  clear: both;
}

@media screen and (max-width: 938px) {
  #love-stories .splash {
    background-position: -500px 0;
    background-repeat: no-repeat;
    background-size: auto 100%;
  }
  #love-stories .col-5, #love-stories .col-7 {
    height: auto;
  }

  #jon-ygrette .col-5 {
    height: auto;
  }

  #love-stories .row-6 {
    height: 100%;
  }
}

/* ================================== Team Styles ================================== */
#team > .splash {
  background: url('img/team.png');
  background-size: cover;
  background-position: center center;
  box-shadow: 0 0 15px rgba(0,0,0,0.5);
}

#team img {
  margin: 0 auto;
  width: 100%;
}

#team .col-4 {
  position: relative;
}

#team .col-4 h2 {
  text-align: center;
  margin: 0;
  font-size: 36px;
  color: #373939;
}
#team .col-4 p {
  text-align: center;
  font-size: 24px;
  color: #373939;
  margin-top: 0;
}

#team .col-4 .info {
  width: 95%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  background-color: rgba(255,255,255,.9);
  transition: all .4s ease;
  overflow: hidden;
  margin: 0 auto;
  max-width: 100%;
}

.info p {

}

#team .col-4:hover .info {
  opacity: 1;
}
/* ================================== Contact Styles ================================== */
#contact h3 {
  font-size: 24px;
}

#contact p {
  font-family: Cinzel-Regular;
}

#contact i {
  font-size: 33px;
  margin: 22px 10px;
  transition: all .4s ease;
}

#contact i:hover {
  cursor: pointer;
}

.fa-facebook-square:hover {
  color: #3b5998;
}

.fa-twitter-square:hover {
  color: #0084b4;
}

.fa-pinterest:hover {
  color: #BD081C;
}

.fa-yelp:hover {
  color: #D32323;
}

.fa-google-plus:hover {
  color: #d34836;
}

input, textarea {
  width: 80%;
  display: block;
  border: none;
  border-bottom: 1px solid #333;
  background-color: #fff;
  margin: 20px auto;
  font-family: 'Cinzel';
  font-size: 24px;
  padding: 20px;
}

input {
  height: 50px;
  padding: 0 10px;
}

button {
  background-color: #475564;
  font-family: 'Cinzel';
  color: #fff;
  font-size: 20px;
  padding: 10px 15px;
  border: 1px solid #FFFFFF;
  float: right;
}

button:hover {
 cursor: pointer;
}

@media screen and (max-width: 938px ) {
 #contact h3, #contact p {
   text-align: center;
 }

 #contact .offset-3 {
   margin: 0;
 }

 #contact .col-4 {
   text-align: center;
 }
}
/* ================================== Footer Styles ================================== */
footer {
  background: #475564;
  padding: 10px;
  text-align: center;
}

footer p {
  color: #fff;
  margin: 0;
  font-size: 14px;
  padding: 5px;
}

footer .medallion {
  font-family: Cinzel-Regular;
}

footer a {
  color: #ECD282;
  transition: all .4s ease;
}

footer .ichor:hover a{
  color: #962D4B;
}

video {
  margin: 0 auto;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
}
